* {
    margin: 0;
    padding: 0;
}
body{
    font: 12px/normal 'Microsoft YaHei', 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    background: #FFFDFD;
}
 a{
    text-decoration: none;
 }

 li{
    list-style: none;
 }