header{
    display: flex;
    background: linear-gradient(to right, #8665A6,  #C484BF, #C694AD);
    height: 60px;
    color: #fff;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}
header h3{
    font-size: 20px;
    flex: 1;
    line-height: 60px;
    text-indent: 20px;
}
header .plus{
    border: none;
    background: none;
    outline: none;
    display: inline-block;
    font-size: 20px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
}