

.content{
    padding: 60px 10px;
}

header .add-city{
    font-size: 30px;
}

.content .weather-card{
    background: #fff;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    padding: 10px;
    position: relative;
}

.content .weather-card h3{
    font-size: 20px;
}

.content .weather-card .info{
    font-size: 14px;
}

.content .weather-card .weather-content{
    display: flex;
    align-items: flex-start;

}

.content .weather-card .weather-content img{
    width: 80px;
}
.content .weather-card .weather-content .temperature .number{
    font-size: 40px;
    vertical-align: top;
}

.content .weather-card .weather-content .temperature .unit{
    font-size: 20px;
    vertical-align: middle;
}
.content .weather-card .weather-content .detail{
    margin-left: 10px;
    font-size: 14px;
    flex: 1;
}

.content .weather-card .weather-content .detail .title{
    color: #6c6c6c;
}

.content .future-weather{
    display: flex;
}
.content .future-weather .future-block{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .future-weather .future-block img{
    width: 50px;
}

.content .weather-card  .delete-weather{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 24px;
    color: #6c6c6c;
    border: none;
    background: none;
    outline: none;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
}

.remind-block {
    position: fixed;
    top: 50%;
    font-size: 14px;
    text-align: center;
    color: #C484BF;
    width: 100%;
    display: none;
}

.remind-block.show{
    display: block;
}

.loading.disable{
  display: none;
}


.error{
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
}

.hide{
    display: none;
}





